<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Last name</th>
      <th scope="col" class="govuk-table__header">First names</th>
      <th scope="col" class="govuk-table__header">Date of birth</th>
      <th scope="col" class="govuk-table__header">TRN</th>
      <% if show_errors %>
        <th scope="col" class="govuk-table__header">Errors</th>
      <% else %>
        <th scope="col" class="govuk-table__header">NIN</th>
      <% end %>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  <% entries.each do |entry| %>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><%= entry.last_name %></th>
      <td class="govuk-table__cell"><%= entry.first_names %></td>
      <td class="govuk-table__cell"><%= Date.parse(entry.date_of_birth.to_s).to_fs(:dob) if entry.date_of_birth.present? %></td>
      <td class="govuk-table__cell"><%= entry.trn %></td>
      <% if show_errors %>
        <td class="govuk-table__cell govuk-error-message govuk-!-margin-bottom-0"><%= entry.failure_messages.join("<br/>") %></td>
      <% else %>
        <td class="govuk-table__cell"><%= entry.national_insurance_number %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
