<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width-from-desktop">
    <h1 class="govuk-heading-l">Review and confirm</h1>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Last name</th>
          <th scope="col" class="govuk-table__header">First names</th>
          <th scope="col" class="govuk-table__header">Date of birth</th>
          <th scope="col" class="govuk-table__header">TRN</th>
          <th scope="col" class="govuk-table__header">NIN</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% @unconfirmed_entries.each do |entry| %>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><%= entry.last_name %></th>
          <td class="govuk-table__cell"><%= entry.first_names %></td>
          <td class="govuk-table__cell"><%= entry.date_of_birth %></td>
          <td class="govuk-table__cell"><%= entry.trn %></td>
          <td class="govuk-table__cell"><%= entry.national_insurance_number %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="govuk-button-group">
      <%= govuk_button_to("Confirm", support_interface_upload_confirm_path(upload_file_hash: @upload_file_hash)) %>
      <%= govuk_button_to(
        "Cancel",
        support_interface_upload_cancel_path(upload_file_hash: @upload_file_hash),
        class: "govuk-button--warning",
      ) %>
    </div>
  </div>
</div>
