<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Edit role</h1>

    <%= form_with model: @role, url: support_interface_role_path(@role), method: :put do |form| %>
      <%= form.govuk_text_field :code, required: true %>
      <%= form.govuk_check_box :internal, true, multiple: false %>
      <%= form.govuk_select :enabled, options_for_select([["Yes", true], ["No", false]]) %>
      <%= form.govuk_submit %>
    <% end %>
  </div>
</div>
