<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check role codes</h1>

    <%= link_to "Add role", new_support_interface_role_path, class: "govuk-button" %>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Code</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @roles.each do |role| %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><%= role.code %></th>
            <td class="govuk-table__cell">
              <% if role.enabled? %>
                <%= govuk_tag(text: "enabled", colour: "green") %>
              <% else %>
                <%= govuk_tag(text: "not enabled", colour: "red") %>
              <% end %>
            </td>
            <td class="govuk-table__cell"><%= link_to "Edit", edit_support_interface_role_path(role) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
