<% content_for :page_title, "#{'Error: ' if @search_form.errors.any?}Check the Children’s Barred List" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check the Children’s Barred List</h1>

    <%= form_with(model: @search_form, url: result_path, method: :get) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :last_name, class: "govuk-input--width-20", label: { text: "Last name", size: "s" } %>
      <%= f.govuk_date_field :date_of_birth, date_of_birth: true, legend: { text: "Date of birth", size: "s" } %>

      <%= f.govuk_submit "Search" %>
    <% end %>
  </div>
</div>
