<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded">
  <head>
    <title><%= [yield(:page_title).presence, t('service.name')].compact.join(' - ') %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, property: 'og:image', content: image_path('govuk-opengraph-image.png') %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>
    <%= favicon_link_tag image_path('favicon.ico'), type: nil, sizes: "48x48" %>
    <%= favicon_link_tag image_path('favicon.svg'), type: 'image/svg+xml', sizes: "any" %>
    <%= favicon_link_tag image_path('govuk-icon-mask.svg'), rel: 'mask-icon', color: "#0b0c0c", type: nil %>
    <%= favicon_link_tag image_path('govuk-icon-180.png'), rel: 'apple-touch-icon', type: nil %>

    <%= stylesheet_link_tag :main %>
    <%= javascript_include_tag :application, defer: true %>
  </head>

  <body class="govuk-template__body">
    <%= javascript_tag nonce: true do %>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    <% end %>

    <%= govuk_skip_link %>

    <%= govuk_header %>
    <%= govuk_service_navigation(
        service_name: t("service.name"),
        navigation_items: begin
          items = []
          if current_dsi_user&.internal?
            items << { href: "/support/features", text: "Features" }
            items << { href: "/support/roles", text: "Check role codes" }
            items << { href: "/support/uploads/new", text: "File upload" }
          end

          if request.path != main_app.not_authorised_path
            if current_dsi_user
              items << {
                href: main_app.dsi_sign_out_post_path({ id_token_hint: session[:id_token] }),
                text: "Sign out"
              }
            else
              items << { href: main_app.sign_in_path, text: "Sign in" }
            end
          end

          items
        end
      )
    %>

    <div class="govuk-width-container">
      <%= govuk_phase_banner(tag: { text: "Beta" }) do %>
        This is a new service – your
        <%= govuk_link_to("feedback", main_app.feedbacks_path) %>
        will help us to improve it.
      <% end %>
      <%= govuk_back_link(href: yield(:back_link_url)) if content_for?(:back_link_url) %>
      <%= yield(:breadcrumbs) if content_for?(:breadcrumbs) %>
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= render(FlashMessageComponent.new(flash: flash)) %>
        <%= yield :content %>
      </main>
    </div>

    <%= render GovukComponent::FooterComponent.new do |footer| %>
      <% footer.with_meta_html do %>
        <h2 class="govuk-heading-m">Get help</h2>
        <p class="govuk-!-font-size-16">
          Email: <%= govuk_mail_to t('service.email'), t('service.email'), class: "govuk-footer__link" %>
          <br>
          You’ll get a response within 5 working days.
        </p>

        <h2 class="govuk-visually-hidden">Footer links</h2>

        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <%= govuk_link_to("Accessibility", "/accessibility", class: "govuk-footer__link") %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= govuk_link_to("Cookies", "/cookies", class: "govuk-footer__link") %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= govuk_link_to("Privacy notice", "https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers", class: "govuk-footer__link") %>
          </li>
          <li class="govuk-footer__inline-list-item">
            <%= govuk_link_to("Terms and conditions", "/terms-and-conditions", class: "govuk-footer__link") %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </body>
</html>
